* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: #CED5E1;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

section {
    background-color: #EAEEF4;
    width: 706px;
    height: 277px;
    margin: 20rem auto;
    padding: 2.5em;
    border-radius: 1.2rem;
    display: grid;
    grid-template-areas: 
        "first first second"
        "third fourth fifth ";
}