* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: #CED5E1;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

section {
    background-color: #EAEEF4;
    width: 706px;
    height: 277px;
    margin: 20rem auto;
    padding: 2.5em;
    border-radius: 1.2rem;
    display: grid;
    grid-template-areas: 
        "first first second"
        "third fourth fifth ";
    gap: 2.6rem;
    padding-right: 0;

}

.first-div{
    grid-area: first;
}

.second-div {
    grid-area: second;
}

.third {
    grid-area: third;
}

.fourth {
    grid-area: fourth;
}

.fifth {
    grid-area: fifth;
}

.first-div {
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 1.8rem;
    border-radius: .9rem;
    padding: 3.5em 0 ;
    
}

img {
    width: 48px;
    margin-left: 2.8rem;
}

p {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: 0;
}

.gamer-name {
    font-size: 2.2rem;
    color: #0E53CA;
    font-weight: 700;

}

h1 {
    font-size: 2.8rem;
    margin: 0;
    font-weight: 700;
}

.second-div, .third-div, .fourth-div, .fifth-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}